/*google font*/
body {
    font-family: 'Zen Loop', cursive;
    background-image: url('https://images.unsplash.com/photo-1558560549-928ad67a85ea?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YmxhY2slMjBhbmQlMjB3aGl0ZSUyMGZsb3dlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-size: cover;
}


/*event fillable boxes*/
textarea {
    resize: none;
}


/*past present and future features*/
.past {
    background-color: #be2c2c;
    color: white;
}
  
.present {
    background-color: #1f1675;
    color: white;
}
  
.future {
    background-color: #146b14;
    color: white;
}

