/*google font*/
body {
    font-family: 'Zen Loop', cursive;
    background-image: url('https://images.unsplash.com/photo-1558560549-928ad67a85ea?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8YmxhY2slMjBhbmQlMjB3aGl0ZSUyMGZsb3dlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
header {
    text-align: center;
}

#container {
    padding-top: 3%;
    padding-left: 10%;
    padding-bottom: 5%;
}
/*event fillable boxes*/
textarea {
    resize: none;
}

/*past present and future features*/
.past {
    background-color: #664a4a;
    color: white;
}
  
.present {
    background-color: #423f61;
    color: white;
}
  
.future {
    background-color: #325e56;
    color: white;
}

